.Movie{
      margin: 10px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .reviews{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .icon{
        border: 1px solid #ccc;
        cursor: pointer;
        
    }
    
}